<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Admin home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="/login.css">
</head>

<body>
	<nav>
		<h4>My game server</h4>
		<ul>
			<li> <a href="/users">users</a> </li>
			<li> <a href="/">Log-out</a> </li>
		</ul>
	</nav>
</body>

</html>