<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Admin login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="/loginAdmin.css">
</head>

<body>
	<nav>
		<h4>My game server</h4>
		<ul>
			<li> <a href="/">User</a> </li>
		</ul>
	</nav>
	<div class="login-form">
		<h1>Login Admin</h1>
		<form action="admins/login" method="POST">
			<input type="text" name="email" placeholder="Email" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="submit">
		</form>
	</div>
</body>

</html>